.App {
  font-family: sans-serif;
  width: 400px;
  padding: 1rem;
  background-color: rgb(243, 213, 213);
}

input {
  margin: 40px 0 20px;
  padding: 5px 15px;
  background-color: rgb(112, 188, 243);
  font-size: 18px;
}

h2 {
  text-align: center;
}
